.wrapper
  .chat-side
    = render 'devise/shared/side_bar'
  .chat-main
    .main-header
      .main-header__left-box

        %h2.main-header__left-box__current-group{"data-group_id" => "xxxxx"}
          現在見ているグループチャット

        %ul.main-header__left-box__member-list
          Member：
          %li.main-header__left-box__member-list__member メンバーの名前
          %li.main-header__left-box__member-list__member メンバーの名前

      = link_to("/groups/1/edit") do
        .main-header__edit-btn Edit

    .messages

      .message{"data-message_id": "xxxx"}
        .message__upper-info
          %p.message__upper-info__talker メンバーの名前
          %p.message__upper-info__date 2019/10/03(Thu) 19:05:09
        %p.message__text メッセージのみメッセージのみメッセージのみメッセージのみメッセージのみメッセージのみ

      .message{"data-message_id": "xxxx"}
        .message__upper-info
          %p.message__upper-info__talker メンバーの名前
          %p.message__upper-info__date 2019/10/03(Thu) 19:05:09
        %p.message__text
        = image_tag 'http://d33f9sk7a6w0qk.cloudfront.net/ikinari_admin/wp-content/uploads/2014/08/topics01-11.png'

      .message{"data-message_id": "xxxx"}
        .message__upper-info
          %p.message__upper-info__talker メンバーの名前
          %p.message__upper-info__date 2019/10/03(Thu) 19:05:09
        %p.message__text メッセージと画像メッセージと画像メッセージと画像メッセージと画像メッセージと画像メッセージと画像
        = image_tag 'http://d33f9sk7a6w0qk.cloudfront.net/ikinari_admin/wp-content/uploads/2014/08/topics01-11.png'

    .form
      %form#new_message.new_message{"accept-charset": "UTF-8", action: "#", enctype: "multipart/form-data", method: "post"}
        %input{name: "utf8", type: "hidden", value: "✓"}/
        %input{name: "authenticity_token", type: "hidden", value: "xxxx"}/
        .input-box
          %input#message_content.input-box__text{name: "message[content]", placeholder: "type a message", type: "text"}/
          %label.input-box__image{for: "message_image"}
            %i.fa.fa-image
            %input#message_image.input-box__image__file{name: "message[image]", type: "file"}/
        %input.submit-btn{"data-disable-with": "Send", name: "commit", type: "submit", value: "Send"}/
